.item{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#myCarousel{
    position: relative;
    margin: 0 auto;
    padding-top: 75px;
}

/*.carousel-inner > .item > img{
    margin:auto;
    width:100%
    }*/

    .carousel-inner > .item > img{
        margin:auto;
        width:100%;
        height:450px;
        }
        
        