<div class="pageContainer">
  <section class="titleContainer">
    <h1>{{selectedMovie.Title}}</h1>
  </section>

  <section class="infoContainer">
    <div class="dataContainer">

      <div class="genContainer">
          <h4 class="ttl">Release date: &nbsp;</h4>
          <h4 class="ttl">Running time:</h4>
      </div>

      <div class="runContainer">
          <h5 class="releaseInfo"> &nbsp;{{selectedMovie["Release date"]}}</h5>
          <h5 class="runningInfo">&nbsp; &nbsp; {{selectedMovie["Running time"]}}</h5>
      </div>

      <div class="descContainer">
      <h2>More information about the film</h2>
      <p>{{selectedMovie.Description}}</p>
    </div>
    </div>
    
    <div class="imageContainer">
       <img class="imgMoviePoster" src={{selectedMovie.Image}} alt="movieTitle">
    </div>
  </section>
</div>