<div class="pageContainer">
  <section>
    <h1>Title</h1>
    <iframe src="https://www.youtube.com/embed/D86RtevtfrA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </section>

  <section class="infoContainer">
    <div class="dataContainer">

          <h4 class="ttl">Release date:</h4>
          <p class="releaseInfo">16 May 2018</p>

          <h4 class="ttl">Running time:</h4>
          <p class="runningInfo">120 minutes</p>
      
      <h2>More information about the film</h2>
      <p> After surviving a near fatal bovine attack, a disfigured cafeteria chef (Wade Wilson) struggles to fulfil his dream of becoming Mayberry's hottest bartender while also learning to cope with his lost sense of taste. Searching to regain his spice for life, as well as a flux capacitor, Wade must battle ninjas, the yakuza, and a pack of sexually aggressive canines, as he journeys around the world to discover the impotence of family, friendship, and flavour - finding a new taste for adventure and earning the coveted coffee mug title of World's Best Lover. </p>
    </div>
    <div class="imageContainer">
    <img class="imgMoviePoster" src="https://www.moviehouse.co.uk/Media/d54e3d8a-b3d1-4557-beb4-ab6aeb8f9ac4.jpg" alt="movieTitle" width="400" height="500">
    </div>
  </section>
</div>