<app-movie-promo></app-movie-promo>

<div class="grid-container">

<section class="firstsec">
  <h2>New Releases</h2>
  <div class="responsive" (click)= "onClick('test')">
      <div class="gallery">
        
        <a target="_blank" href="img_5terre.jpg"  name = "firstsec">
            <div class="col-sm-4">
          <img src="img_5terre.jpg" alt="Cinque Terre" width="600" height="400">
          </div>
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="img_forest.jpg">
          <img src="img_forest.jpg" alt="Forest" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="img_lights.jpg">
          <img src="img_lights.jpg" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="img_mountains.jpg">
          <img src="img_mountains.jpg" alt="Mountains" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>
    
    <div class="clearfix"></div>
 
</section>
<section class="secondsec">
    <h2>Top Rated</h2>
    <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="img_5terre.jpg">
            <img src="img_5terre.jpg" alt="Cinque Terre" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>
      
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="img_forest.jpg">
            <img src="img_forest.jpg" alt="Forest" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>
      
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="img_lights.jpg">
            <img src="img_lights.jpg" alt="Northern Lights" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>
      
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="img_mountains.jpg">
            <img src="img_mountains.jpg" alt="Mountains" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>
      
      <div class="clearfix"></div>
</section>
<section class="thirdsec">
  <h2>Coming Soon</h2>
  <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="img_5terre.jpg">
          <img src="img_5terre.jpg" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="img_forest.jpg">
          <img src="img_forest.jpg" alt="Forest" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="img_lights.jpg">
          <img src="img_lights.jpg" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="img_mountains.jpg">
          <img src="img_mountains.jpg" alt="Mountains" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>
    
    <div class="clearfix"></div>
</section>

<a href = "#firstsec">test</a>
<section class="fourthsec">
    <h2>About Us</h2>
    <p>Perry Bar in Birmingham saw the first ODEON cinema open in 1930, and established the brand as not only somewhere to watch films, but somewhere to experience them too. Iconic art deco architecture and the very latest technology became synonymous with ODEON where you didn’t just go to see a film, you went to the cinema.</p>

    <p>Today we are owned by AMC Theatres, the largest movie exhibition company in the world, and our passion for film and the whole cinema experience is so deep-rooted that it is embodied in everything we do. We’re determined to give every guest a great experience every time they visit, and so continuously strive to innovate and improve our hospitality and services.</p>
    
    <p>We have always been at the forefront of cinematic experience: both IMAX and ISENSE offer extraordinary cinema viewing, and we also operate London’s BFI IMAX which is the largest cinema screen in the UK. We have the UK’s biggest cinema loyalty scheme - ODEON Première Club - with over 2 million members. And in 2016 we launched our popular Limitless card – offering guests the chance to see all the films they want, as often as they like.</p>
</section>