div.gallery {
    border: 1px solid #222629;
}

div.gallery:hover {
    border: 1px solid #222629;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.fImage{
    width:250px;
    height: 100px;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}



body {
    /*This formats the font size, colour and alignment for the content as well as the margin of the body*/
    font-family: "Bangla MN", Avenir, antialiased, sans-serif;
    color: #86C232;
    font-size: 100%;
    text-align: center;

}


header {
    background-color: rgb(170, 15, 15);
}
h1 {
    /*header1 formatting*/
    color: #86C232;
    justify-content: center;
    text-align: center;
    clear: both;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 100;
    padding-top: 20px;
    padding-bottom: 20px;
}

header h2 {
    /*formatting of the sub-heading h2, in the top header*/
    color: white;
    justify-content: center;
    text-align: center;
    clear: both;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 1px;
    font-weight: 100;
    
}

h2 {
    /*This refers to the formatting of the heading 2's the other elements of the HTML such as Sections*/
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    color: #86C232;
   font-family: "impact";
   letter-spacing: 2px;
}
h3 {
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
}



footer {
    /*This is where the footer is formatted to when the nav is in place on the left (full screen mode)*/
    clear: both;
    margin: 0;
    background-color: white;
    padding: 20px 40px 10px 40px;
    text-align: center;
}

.thirdsecfooter {
    /*footer that matches the third section to flow the alternative colour pattern*/
    background-color: #f7f7f7;
}

footer a:hover img {
    /*This is where the 'return to top' icon is manipulated when the user hovers over it*/
    opacity: 0.7;
    transition: all 0.9s ease;
    transform: scale(1.2);
}

.firstsec {
    /*first section with #e6f2f3 background colour*/
    
    background-color:black;
    text-align: left;
    padding: 20px 40px 20px 40px;
    margin: 0;
    /*opacity: 0.9;*/
    font-family: "impact";
    color: white;

}

.secondsec {
    /*second section with white background colour*/
    
    background-color: rgb(64,60,62);
    padding: 20px 40px 20px 40px;
    text-align: left;
    /*opacity: 0.9;*/
    font-family: "impact";
    color: white;


}

.thirdsec {
    /*third section with #f7f7f7 background colour*/
    background-color:  black;
    text-align: left;
    padding: 20px 40px 20px 40px;
    /*opacity: 0.9;*/
    font-family: "impact";
    color: white;


}

.fourthsec {
    /*third section with #f7f7f7 background colour*/
    background-color: rgb(64,60,62);
    text-align: center;
    padding: 40px;
    color: white;
    font-family: "impact";
    letter-spacing: 2px;

    
}

/*---------------------------------------------------------------------------------------------- Image Gallery Start */

.photogallery {
    /*This class is applied to figures when there are 4 images in a section. The figures + their captions are floated left and each equally spaced, with a width of 25% when in full screen mode*/
    float: left;
    padding-right: 9px;
    padding-left: 9px;
    padding-bottom: 20px;
    width: 25%;
    margin: 0;
}

figure img {
    /* This refers to the images in the figures and gives them a width of 100% an auto height so that they span the width that the figure has been allocated unless it is greater than 300 pixels*/
    width: 100%;
    height: auto;
    max-width: 300px;
    border: solid 4px white;
}

* {
    /* This determines the way in which the width and height of the elements are calculated*/
    box-sizing: border-box;
}

.clearbottom:after {
    /*This ensures that the section does not end until after the figures*/
    content: "";
    clear: both;
    display: table;
}

.imgWrapper {
    /*This class is used to wrap the two figures to allow the their  positioning to be manipulated as one element not two.*/
    display: flex;
    flex-wrap: wrap;
    margin: 0.5em auto;
    justify-content: center;
}

.photogalleryflex {
    /*This class is used to give the figure element the required padding*/
    padding: 10px 9px 0;
    margin: 0;
    width: 25%
}

figcaption {
    /*This aligns the figure caption text centrally*/
    text-align: center;
    padding: 0;
    margin: 0;
}

/*--------------------------------------------------------------------------------------------------- ...  */

@media only screen and (max-width: 750px) {
    .photogallery {
        /*When the screen is smaller than 750px each figure is given a width of 50% instead of 25% so that the figures will englarge and  align under each other as there are 4 in the sections where the photo gallery class is applied*/
        width: 50%;
        margin-left: 0;
        margin-top: 9px;
        padding-bottom: 9px;
        margin-bottom: 0px;
    }

    .bottom2 {
        /*This removes the padding and margins from the bottom two figures as the sections already have padding applied*/
        padding-bottom: 0px;
        margin-bottom: 0px;
        margin-top: 0%;
        padding-top: 0%;
        width: 50%;
    }

}

/*-------------------------------------------------------------- Nav Start*/

nav {
/*positions to stay at the top of the window when the user scrolls down the page*/
    position: sticky;
    top: 0;

}

nav ul {
    background-color: darkgray;
    overflow: hidden;
    margin: 0;
    padding: 10px;
    list-style-type: none;
}

nav li {
    /*Floats the top nav li elements up side by side*/
    float: left;
}

nav li a {
    /*This is where each of the list items links are manipulated and formatted*/
    display: block;
    color: #666666;
    text-align: center;
    padding: 14.2px;
    text-decoration: none;
    font-weight: 100;

}

nav li a:hover {
    /*Changes the opacity of the the links in the ul when hovered  over*/
    opacity: 0.5;
}

.current {
    /*This refers to the formatting of the li a that is currently active*/
    text-decoration: underline;
}

/*---------------------------------------------------------------------------------------------- media*/

@media screen and (max-width: 731px) {
    nav {
        /*This unsticks the nav bar at the top to allow a user on a smaller device more content space*/
        position: unset;
    }

    nav li {
        /*Allows navigation li to be positioned vertically not floated up side by side*/
        float: none;
    }
}
