.navbar {
    /*background-color: rgb(199, 12, 12);*/
    background-color: black;
    overflow: hidden;
    height: 70px;
}
nav{
    position: sticky;
    width: 100%;
}

body{
    background-color: black;
}
.navHeader a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    

    
}

.navHeader{
    border-right: 1px solid black;
}

/* Style the links inside the navigation bar */
.navLinks a {
    float: left;
    color: #86C232;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    
}

/* Change the color of links on hover */
.navLinks a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: black;
    color: white;
}
