<<<<<<< HEAD

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
=======
.navbar {
    /*background-color: rgb(199, 12, 12);*/
    background-color: black;
    overflow: hidden;
    height: 70px;
}
nav{
    position: sticky;
    width: 100%;
>>>>>>> 429db2df5d8befce5a746fa7044180e7915ddc4a
}

body{
    background-color: black;
}
.navHeader a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    

    
}

.navHeader{
    border-right: 1px solid black;
}

<<<<<<< HEAD
.header {
    overflow: hidden;
    background-color: #222629;
    padding: 20px 10px;
    
    
    
  }
  
  /* Style the header links */
  .header a {
=======
/* Style the links inside the navigation bar */
.navLinks a {
>>>>>>> 429db2df5d8befce5a746fa7044180e7915ddc4a
    float: left;
    color: #86C232;
    text-align: center;
<<<<<<< HEAD
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 40px;
    font-weight: bold;
    
    font-family: "Bangla MN", Avenir, antialiased, sans-serif;
    color: #86C232;

  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
=======
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    
}

/* Change the color of links on hover */
.navLinks a:hover {
>>>>>>> 429db2df5d8befce5a746fa7044180e7915ddc4a
    background-color: #ddd;
    
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color: #86C232;
    color: #222629;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
}